.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #8695b4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(148, 128, 128);
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.survey-div{
  background-image: url(./bg.jpg);
}
.CreateBook {
  background-color: #8fa8c1;
  min-height: 100vh;
  color: rgb(80, 59, 59);
}

.MainPage {
  background-image: url(./bg.jpg);
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(148, 128, 128);

}

/* BookList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  margin-left: 200px;
  padding: 50px;
  background-color: rgba(234, 240, 232, 0.396);
  background: rgb(236, 226, 226);
  width: 700px;
  height: 390px;
  outline: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border:2px solid #a58c8c;
}

.card-container-upload {
  margin-left: 200px;
  padding: 40px;
  background-color: rgba(234, 240, 232, 0.396);
  background: rgb(236, 226, 226);
  width: 700px;
  height: 500px;
  outline: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border:2px solid #a58c8c;
}

.checks-container {
  align-items: stretch;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: space-evenly;
  
}

.checks-container-upload {
  align-items: stretch;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-evenly;
  
}

.button-container {
  padding-top: 50px;
  align-items: bottom;
  flex-direction: row;
  pad: 5px;
}

.card-text {
  text-align: center;
  font-family: serif;
  font-size: 23px;
  line-height: 2;
  font-weight: bolder;
}

.card-text-upload {
  text-align: center;
  font-family: serif;
  font-size: 23px;
  line-height:1;
  font-weight: bolder;
  -webkit-text-fill-color: #000;
}

.heading-text {
  text-align: center;
  font-family: serif;
  font-size: 60px;
  font-weight: bolder;
  -webkit-text-stroke-width:1px;
  text-emphasis-color: rgb(193, 183, 183);
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #44474a;
  text-emphasis-style: filled;
  text-decoration-style: solid;
  text-decoration-color: #000;
}

.subheading-text {
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  padding: 5px;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #352f32;
  -webkit-text-stroke-width:1px;
}
.subheading-left-text {
  text-align: left;
  font-style: normal;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  padding: 5px;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #352f32;
  -webkit-text-stroke-width:1px;
}

.align-right {
  flex-grow: 1;
  align-items: right;
  text-align: right;
  border: 10;
}

.flex-end {
  width: 500px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.align-left {
  align-items: left;
  text-align: left;
  border: 10;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3,
p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

.next-button {
  justify-content: end;
  right:300px;
  float: right; 
  height: 7vh;
  width: 125px;
  align-items: right;
  text-align: right;
}

.submit-item-button {
  justify-content: center;
  float: center; 
  -webkit-text-fill-color: #000;
  height: 9vh;
  width: 125px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.prev-button {
  align-items: left;
  text-align: left;
  float: left; 
  height: 7vh;
  width: 125px;
}

.link {
  font-family: serif;
  -webkit-text-fill-color: #ffffff;
}