.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.survey-div{
  background-image: url(./bg.jpg);
}
.CreateBook {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowBookDetails {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.UpdateBookInfo {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowBookList {
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

/* BookList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  margin-left: 200px;
  padding: 50px;
  background-color: rgba(65, 72, 62, 0.396);
  background: oldlace;
  width: 700px;
  height: 390px;
  outline: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border:2px solid #000;
}

.checks-container {
  align-items: stretch;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: space-evenly;
  
}

.button-container {
  padding-top: 50px;
  align-items: bottom;
  flex-direction: row;
  pad: 5px;
}

.card-text {
  text-align: center;
  font-family: serif;
  font-size: 23px;
  line-height: 2;
  font-weight: bolder;
}

.align-right {
  flex-grow: 1;
  align-items: right;
  text-align: right;
  border: 10;
}

.flex-end {
  width: 500px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.align-left {
  align-items: left;
  text-align: left;
  border: 10;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3,
p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

.next-button {
  justify-content: end;
  right:300px;
  float: right; 
  height: 7vh;
  width: 125px;
  align-items: right;
  text-align: right;
}

.prev-button {
  align-items: left;
  text-align: left;
  float: left; 
  height: 7vh;
  width: 125px;
}
